{% extends "/main/mainLayout.html" %}
{% block content %}
<br><br><br><br><br>
<div id="app">
    <v-app id="inspire">
        <v-row justify="center">
            <template>
                <div>
                    <v-dialog v-model="dialog" persistent max-width="600px" ref='form'>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn color="primary" dark v-bind="attrs" v-on="on">
                                Search
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">Sorting</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols='6' md='6'>
                                            <v-text-field v-model="keyword" label="คำค้น" type="text">
                                            </v-text-field>
                                        </v-col>
                                        <v-col cols='6' md='6'>
                                            <v-text-field v-model="revision" label="ปีฐานข้อมูล" type='text'>
                                            </v-text-field>
                                            </v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols='6' md='6'>
                                            <v-select :items='impexp' v-model="imex" label="รูปแบบการนำเข้าหรือส่งออก">
                                            </v-select>
                                        </v-col>
                                        <v-col cols='6' md='6'>
                                            <v-select :items='order' v-model="orderBy"
                                                label="รูปแบบการเรียงลำดับข้อมูลส่งออก">
                                            </v-select>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="dialog = false">
                                    Close
                                </v-btn>
                                <v-btn color="blue darken-1" text @click="validate">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <v-data-table :headers="headers" :items="products" class="elevation-4">
                    </v-data-table>
                </div>
            </template>
        </v-row>
    </v-app>
</div>

<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: () => ({
            headers: [
                { text: 'com_code', value: 'com_code' },
                { text: 'com_description_en', value: 'com_description_en' },
                { text: 'com_description_th', value: 'com_description_th' },
                { text: 'hs_code', value: 'hs_code' },
                { text: 'imex_type', value: 'imex_type' },
                { text: 'revision', value: 'revision' },
                { text: 'unit', value: 'unit' },
                { text: 'unit2en', value: 'unit2en' },
                { text: 'unit2th', value: 'unit2th' },
                { text: 'unit_code', value: 'unit_code' },
            ],
            impexp: ['import', 'export'],
            order: ['hs_code', 'com_code'],
            keyword: '',
            revision: '',
            imex: '',
            orderBy: '',
            products: [],
            dialog: false
        }),
        methods: {
            validate() {
                let dict = { keyword: this.keyword, revision: this.revision, imex: this.imex, orderBy: this.orderBy }
                this.onClick(dict)
                console.log(dict)
            },
            onClick(data) {
                const path = '/getapi';
                axios.post(path, data)
                    .then(() => {
                        console.log('Selected Sorting')
                    })
                    .catch((err) => {
                        console.error(err)
                    })
            },
        },
        delimiters: ["[[", "]]"]
    })
</script>

{% endblock %}
